<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main class="main">
        <section class="home" id="home">
            <div class="home__container container grid">
                <div class="home__content">
                    <span class="home__small">Hello</span>
                        <h1 class="home__title"><span>I'm</span>
                            Nitish<br />a <span>Full stack developer</span>
                        </h1>
                    <p class="home__description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, praesentium exercitationem dolorum necessitatibus, libero eius aperiam quasi provident sapiente veritatis voluptatem expedita repellat itaque sit.
                    </p>
                    <div class="home__btns">
                        <a href="#contact" class="btn">Hire Me</a>
                        <a href="#CV" class="btn btn--transparent">Portfolio</a>
                    </div>
                </div>
                <div class="home__img-wrapper">
                    <img src="/images/myphoto.jpeg" alt="photo-not-fetch" class="home__img">
                </div>
            </div>
            
        </section>
        <section class="about" id="about"></section>
    </main>
    

    
    
</body>
</html>